<!DOCTYPE html>
<html>

<head>
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</head>

<body>
    <div>
        <div class="dashboard-element welcome">
            <div id="welcome-title">
                <h1>Accueil</h1>
                <p>Bienvenue <b>{{name}}</b> !</p>
            </div>
            <div>
                <button id="disconnect" type="button" class="btn btn-danger">Se déconnecter</button>
            </div>
        </div>
        {% if name == 'user'%}
        <div class="dashboard-group">
            <div class="dashboard-element all-managers">
                <div class="dashboard-element-title">Managers</div>
                <form id="form-all-managers">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="dept_no">Département</label>
                            </div>
                            <select name="dept_no" class="form-control custom-select">
                                {% for dept in dept_no_list %}
                                <option>{{dept.dept_no}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
                <div id="all-managers-result"></div>
            </div>

            <div class="dashboard-element all-employees">
                <div class="dashboard-element-title">Collaborateurs</div>
                <form id="form-all-employees">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="dept_no2">Département</label>
                            </div>
                            <select name="dept_no2" class="form-control custom-select">
                                {% for dept in dept_no_list %}
                                <option>{{dept.dept_no}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="title">Titre</label>
                            </div>
                            <select name="title" class="form-control custom-select">
                                {% for title in title_list %}
                                <option>{{title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
                <div id="all-employees-result"></div>
            </div>
        </div>

        <div class="dashboard-group">
            <div class="dashboard-element all-salaries">
                <div class="dashboard-element-title">Salaires par période</div>
                <form id="form-all-salaries">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="emp_emp_no-span">Votre numéro employé</span>
                            </div>
                            <input name="emp_emp_no" id="emp_emp_no" type="text" class="form-control"
                                aria-label="Default" aria-describedby="emp_emp_no-span" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
                <div id="all-salaries-result"></div>
            </div>

            <div class="dashboard-element dept-titles">
                <div class="dashboard-element-title">Titres par département et date d'intégration</div>
                <form id="form-dept-titles">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="dept_no3">Département</label>
                            </div>
                            <select name="dept_no3" class="form-control custom-select">
                                {% for dept in dept_no_list %}
                                <option>{{dept.dept_no}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="from_date_year-span">Année</span>
                            </div>
                            <input name="from_date_year" id="from_date_year" type="text" class="form-control"
                                aria-label="Default" aria-describedby="from_date_year-span" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="from_date_month-span">Mois</span>
                            </div>
                            <input name="from_date_month" id="from_date_month" type="text" class="form-control"
                                aria-label="Default" aria-describedby="from_date_month-span" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
                <div id="dept-titles-result"></div>
            </div>
        </div>
        {%endif%}

        {% if name == 'analyst'%}
        <div class="dashboard-group">
            <div class="dashboard-element moy-salary">
                <div>
                    <div class="dashboard-element-title">Salaire moyen par genre</div>
                    <form id="form-moy-salary">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="moy-salary-from_date-span">Date de début</span>
                                </div>
                                <input name="moy-salary-from_date" id="moy-salary-from_date" type="text"
                                    class="form-control" aria-label="Default"
                                    aria-describedby="moy-salary-from_date-span" required autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="moy-salary-to_date-span">Date de fin</span>
                                </div>
                                <input name="moy-salary-to_date" id="moy-salary-to_date" type="text"
                                    class="form-control" aria-label="Default" aria-describedby="moy-salary-to_date-span"
                                    required autocomplete="off">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                </div>
                <div id="moy-salary-result"></div>
            </div>
            <div class="dashboard-element avg-salary-title-hire-date">
                <div>
                    <div class="dashboard-element-title">Salaire moyen par titre et par ancienneté</div>
                    <form id="form-avg-salary-title-hire-date">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="from_date_year2-span">Année</span>
                                </div>
                                <input name="from_date_year2" id="from_date_year2" type="text" class="form-control"
                                    aria-label="Default" aria-describedby="from_date_year2-span" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="from_date_month2-span">Mois</span>
                                </div>
                                <input name="from_date_month2" id="from_date_month2" type="text" class="form-control"
                                    aria-label="Default" aria-describedby="from_date_month2-span" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                </div>
                <div id="avg-salary-title-hire-date-result"></div>
            </div>
        </div>
        {%endif%}

        {% if name == 'admin'%}
        <div class="dashboard-group">
            <div class="dashboard-element" id="db-stats">
                <div>
                    <div class="dashboard-element-title">Données statistiques</div>
                    <form id="form-db-stats">
                        <button type="submit" class="btn btn-primary">Calculer</button>
                    </form>
                </div>
                <div id="db-stats-result"></div>
            </div>
            <div class="dashboard-element" id="sharding-state">
                <div>
                    <div class="dashboard-element-title">Etat du sharding</div>
                    <form id="form-sharding-state">
                        <button type="submit" class="btn btn-primary">Calculer</button>
                    </form>
                </div>
                <div id="sharding-state-result"></div>
            </div>
        </div>
        {%endif%}
    </div>
</body>

</html>