<link rel="stylesheet" href="/styles/login.css" type="text/css">

<form action="/login/" method="post">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                    <p class="login-field">Pseudo</p>
                    {{ form.pseudo }}
                </div>
                <div class="control-group">
                    <p class="login-field">Mot de passe</p>
                    {{ form.password }}
                    {{ form.hidden_tag() }}
                </div>
                <input class="btn btn-primary btn-large btn-block" type="submit" value="Login">
            </div>
        </div>
    </div>
</form>