<!DOCTYPE html>
<html>

<head>
    <title>Création de compte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <form action="/register/" method="post">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Création de compte</h1>
                </div>
                <div class="login-form">
                    <div class="control-group">
                        <p>Pseudo</p>
                        {{ form.pseudo }}
                    </div>
                    <div class="control-group">
                        <p>Mot de passe</p>
                        {{ form.password }}
                        {{ form.hidden_tag() }}
                    </div>
                    <input type="submit" value="Valider">
                </div>
            </div>
        </div>
    </form>
</body>

</html>